<plugin name='fixed-flat-file' version='0.4.1' grailsVersion='1.3 &gt; *'>
  <author>Oscar A Konno Sampaio</author>
  <authorEmail>oscarks@gmail.com</authorEmail>
  <title>Fixed Flat File Plugin</title>
  <description>Brief summary/description of the plugin.
</description>
  <documentation>http://grails.org/plugin/fixed-flat-file</documentation>
  <type>FixedFlatFileGrailsPlugin</type>
  <resources>
    <resource>org.grails.plugins.fixedflatfile.FixedFlatFileService</resource>
  </resources>
  <repositories>
    <repository name='grailsCentral' url='http://grails.org/plugins' />
    <repository name='http://repo.grails.org/grails/core' url='http://repo.grails.org/grails/core/' />
    <repository name='mavenCentral' url='http://repo1.maven.org/maven2/' />
  </repositories>
  <dependencies />
  <plugins />
  <runtimePluginRequirements />
  <behavior />
</plugin>